.chat-main
  .chat-main__group-info
    .chat-main__group-info__name
      test
      %ul
        %li<
          member : masa
    .chat-main__group-info__btn
      = link_to "Edit", "＃"
  .chat-main__message-list
    .chat-main__message-list__user-info
      .chat-main__message-list__user-info__name
        芳根京子
      .chat-main__message-list__user-info__day
        2020/04/15 15:51
    .chat-main__message-list__user-text
      JUST HANG IN THERE
  .chat-main__message-form
    = form_for [@group, @message],html: {class: "chat-main__message-form__comment"} do |f|
      = f.text_field :body, class: 'form-text',placeholder: 'type a message'
      .chat-main__message-form__comment__image
        = f.label :image, class: 'image' do
          = icon("fas", "image")
          = f.file_field :image, class: 'hidden', id: "images"
      = f.submit 'Send', class: 'form-btn'

  -# .chat-main__message-form
  -#   .chat-main__message-form__comment
  -#     %input.form-text{:name => "text", :value => "", :placeholder => "type a message" }
  -#     .chat-main__message-form__comment__image
  -#       %label{class: "image"}
  -#         = icon("fas", "image")
  -#         %input{type: "file", id: "images"}
  -#   .chat-main__message-form__btn
  -#     %input.form-btn{:name => "Send", :type => "submit", :value => "Send"}